{% load staticfiles %}

<html>
    <head>
        <title>meMind</title>
      <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> >
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
       -->
        <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css'%}">
        <link rel="stylesheet" href="{% static 'css/blog.css'%}">


    </head>
    <body>
<div id = "page-wrap">

        <div>
            <h1><a href="">meMind</a></h1>
            post for the day are as:
        </div>

        <div class="content container">
          <div class="row">
            <div class="col-md-8">
         {% block content %}
         
         {% endblock%}
        
          </div>
         </div>
        </div>
        </div>
    </body>
</html>
